// Base Colors
$color1: rgba(51,51,51,1);
$color2: rgba(181,5,17,1);
$color3: rgba(0,142,214,1);
$color4: rgba(225,225,225,1);
$color5: rgba(53,66,74,1);
$color6: rgba(204,204,204,1);
$color7: rgba(0,0,0,0.6);
$color8: rgba(53,66,74,0.5);


$bg-color:$color1;
$font-color:$color4;
$blue-color:$color3;
$rapu-red: $color2;
$nav-bg:$color8;
$rapu-hover:$color3;
$focus-color:$color8;
$dark-overlay:$color7;

