<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/style.css" type="text/css">
<title> 
    <% if(page=="Home") {%> Welcome to Rapu <%}
        else if(page=="About") {%> About Rapu <%}
        else if(page=="Services") {%> What Rapu Can Do For You <%}
        else if(page=="Members") {%> Your Part Of The Rapu Team <%} 
        else {%> Rapu <%}%>
</title>

    
   


      