
    <div class="nav-container">
      <a href="/home" class="navbar-brand">Rapu Ltd</a>
      <div class="nav-wrapper" id="navbarCollapse">
            <div id="hamberger-wrapper">
                <div class="main-item menu">
                    <span class="line line01"></span>
                    <span class="line line02"></span>
                    <span class="line line03"></span>
                </div>
            </div>
            <ul class="navbar-nav ml-auto">
            <li class = "nav-item">
                <a <%if(page=="Home"){%> class="nav-link active"<%}else{%> class="nav-link" <%}%> href="/home">Home</a>
            </li>
            <li class = "nav-item">
                <a <%if(page=="About"){%> class="nav-link active"<%}else{%> class="nav-link" <%}%> href="/about">About</a>
            </li>
            <li class = "nav-item">
                <a <%if(page=="Services"){%> class="nav-link active"<%}else{%> class="nav-link" <%}%> href="/services">Services</a>
            </li>
            <li class="nav-item">
                <!-- <a type="submit" data-toggle="modal" data-target="#contactModal" class="nav-link" id="modal-btn">Contact</a> -->
                <a id="contact-btn" herf="javascript:void(0)" onclick="toggle_open('contact-popup');">Contact</a>
                <!-- <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#contactModal">
                Contact
                </button> -->
            </li>
            <li class = "nav-item">
                <a <%if(page=="login"){%> class="nav-link active"<%}else{%> class="nav-link" <%}%> href="/auth/login">Log-in</a>
            </li>
            </ul>
      </div>
    </div>
